In [ ]:
i = ["apple", "mango", 'sev', "tamatar", 56, 5.15]
print(i)
print(type(i))
print(i[5])
print(type(i[5]))

['apple', 'mango', 'sev', 'tamatar', 56, 5.15]
<class 'list'>
5.15
<class 'float'>

In [17]:
i = ["apple", "mango", 'sev', "tamatar", 56, 5.15]
i.append("aalu")
print(i)

['apple', 'mango', 'sev', 'tamatar', 56, 5.15, 'aalu']

In [20]:
number= [1,5,2,10]
number.sort()
number.reverse()
print(number)

[10, 5, 2, 1]

In [ ]:
number= [1,5,2,10,7,9,15,30,25]
number.sort()
number.reverse()
print(number[-6::])
print(number)

[10, 9, 7, 5, 2, 1]
[30, 25, 15, 10, 9, 7, 5, 2, 1]

In [39]:
number= [1,5,2,10,7,9,15,30,25]
print(number[-6::])
print(number)

[10, 7, 9, 15, 30, 25]
[1, 5, 2, 10, 7, 9, 15, 30, 25]

In [45]:
number= [30, 25, 15, 10, 9, 7, 5, 2, 1]
print(number[5::])

[7, 5, 2, 1]

In [ ]:
number= [30, 25, 15, 10, 9, 7, 5, 2, 1]
print(number[5:len(number):2])

In [46]:
number= [1,5,2,10,7,9,15,30,25]
print(min(number))
print(max(number))
print(len(number))

1
30
9

In [ ]:
number= [1,5,2,10,7,9,15,30,25]
number.append(99)
number.sort()
number.reverse()
print(number)

[99, 30, 25, 15, 10, 9, 7, 5, 2, 1]

In [64]:
number=[]
number.append(15)
number.append(20)
print(number)
number.insert(0,"sev")
print(number)
number.remove(15)
print(number)
print(number.pop())
print(number)
number.count("sev")
number.count(0)
print(number)

[15, 20]
['sev', 15, 20]
['sev', 20]
20
['sev']
['sev']

In [70]:
tp =(1,)
print(type(tp))

<class 'tuple'>

In [79]:
tp =(1,)
# tp[0]=5
print(type(tp)) ## gives an error cuz' tuples are immutable

<class 'tuple'>

In [ ]:
a=5
b=10
a,b=b,a
print("a is:",a)
print("b is:",b)

a is: 10
b is: 5

In [ ]:
a=5
b=6
temp=a
a=b ## traditional way to swap
b =temp
print("a is:",a)
print("b is:",b)

a is: 6
b is: 5

In [ ]:
### Tuple Methods ###

# a=(1,2)
# b=(5,4)
# c= a+b
# print(c)
# print(type(c))

a= (1,2,6,5)
a.count(2)
a[1:3]

(2, 6)

In [90]:
a= ("hey",1)*3
print(type(a))
print(a)

<class 'tuple'>
('hey', 1, 'hey', 1, 'hey', 1)